@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: #fcfcfc;
    transition: .5s;
}

.contrastmode{
   color: #444;
    padding-left: 10%;
    padding-top: 2%;
}

input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: #333333;
    outline: none;
    border-radius: 10px;
    transition: .5s ease;
    cursor: pointer;
}
input[type="checkbox"]:checked{
    background-color: #3664ff;
}

input[type="checkbox"]::before{
    content:  '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fcfcfc;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: .5s ease;
}

input[type="checkbox"]:checked::before{
    transform: translateX(20px);
}

.dark{
    background-color: #333333;
    color: #fcfcfc;
}
.dark p{
    color: #fcfcfc;
}
.dark h1{
    color: #fcfcfc;
}

.dark h3{
    color: #fcfcfc;
}

main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
 .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
}

 .container .buttons{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-bottom: 20px; 
}


.container .buttons .btn{
padding: 0 10px;
display: inline-flex;
background: #ddd;
color: #fff;
margin-left: 10px;
cursor: pointer;
}

.container .buttons .btn.active{
    background:#444;
}


.container .buttons .btn:nth-child(2){
    font-size: 1.5em;
}

.container .buttons .btn:nth-child(3){
    font-size: 2em;
}

.container .content{
    font-size: 1em;
    color: #444;
}

.container .content h2,
.container .content p{
    transition: 0.5s;
}

.image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;

}
img{
       transition: 0.5s;
       width: 50%;
}
img:hover{
    -webkit-filter: invert(1);
    filter: invert(1);      
    transition: 0.5s;
}




